#-- git-buildpackage part --
debian/*.log
debian/*.substvars
debian/*.debhelper
debian/files
debian/tmp/
debian/ingraph/
debian/ingraph-bin/
debian/ingraph-web/
debian/icinga-web-ingraph/
.pc/
.*.swp
.*.swo

#-- the following ignores are from the original ingraph tarball --
.*
*.pyc
MANIFEST
contrib/init.d/ingraph-collector
setup.py
