Source: ingraph
Section: net
Priority: extra
Maintainer: Debian Nagios Maintainer Group <pkg-nagios-devel@lists.alioth.debian.org>
Uploaders: Markus Frosch <markus@lazyfrosch.de>, Alexander Wirt <formorer@debian.org>, Jan Wagner <waja@cyconet.org>
Build-Depends: debhelper (>= 8.0.0),
               po-debconf,
               python-all (>= 2.6.6-3~),
               python-setuptools
Standards-Version: 3.9.4
Homepage: https://www.netways.org/projects/ingraph
Vcs-Git: git://anonscm.debian.org/pkg-nagios/pkg-ingraph.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-nagios/pkg-ingraph.git;a=summary

Package: ingraph
Architecture: all
Depends: ${python:Depends},
         adduser,
         dbconfig-common,
         python-distribute,
         python-sqlalchemy,
         python-mysqldb,
         ucf,
         ${misc:Depends}
Recommends: icinga-web-ingraph (= ${source:Version})
Suggests: mysql-client
Description: Icinga/Nagios performance data graphing solution
 inGraph is a flexible, charting tool for Icinga and Nagios, which collects
 performance data in a database and displays the results in a web interface.
 .
 This is the core application which contains the ingraph-collector damon,
 which does collection and preprocessing, and the ingraph daemon itself,
 that does the data management work.

# TODO
#Package: ingraph-web
#Architecture: all
#Description: Icinga/Nagios graphing addon for performance data
# inGraph is a flexible, charting tool for Icinga and Nagios, which collects
# performance data in a database and displays the results in a web interface.
# .
# This is the webinterface for inGraph as a standalone web interface.

Package: icinga-web-ingraph
Architecture: all
Depends: icinga-web (>= 1.7.0),
         libjs-excanvas (>= 0.r3-3),
         libjs-jquery (>= 1.7.1),
         libjs-flot (>= 0.7),
         php-fpdf (>= 3:1.7),
         php5-curl,
         php5-xmlrpc,
         ucf,
         ${misc:Depends}
Recommends: ingraph (= ${source:Version})
Description: Icinga Web integration for inGraph
 inGraph is a flexible, charting tool for Icinga and Nagios, which collects
 performance data in a database and displays the results in a web interface.
 .
 This is the web interface for inGraph as an addin to Icinga Web.

