#!/bin/bash

set -e

. /usr/share/debconf/confmodule

randpass() {
    echo `</dev/urandom tr -dc A-Za-z0-9 | head -c45`
}

if [ -f /usr/share/dbconfig-common/dpkg/config ]; then
        dbc_dbtypes="mysql"
        dbc_dbuser="ingraph"
        dbc_dbname="ingraph"
        dbc_authmethod_user="password"
        . /usr/share/dbconfig-common/dpkg/config
        dbc_go ingraph $@
fi

db_input medium ingraph/xmlrpc-password || true
db_go || true

db_get ingraph/xmlrpc-password || true
password="$RET"

if [ "$password" = "" ]; then
    echo "autogenerating a password for XMLRPC..."
    password="$(randpass)"
    db_set ingraph/xmlrpc-password "$password" || true
    db_go || true
fi

