#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh $@ --with python2

override_dh_clean:
	rm -rf ingraph.egg-info/
	dh_clean

override_dh_installinit:
	dh_installinit
	dh_installinit --name=ingraph-collector

override_dh_install:
	dh_install
	# install config as examples
	cp debian/tmp/etc/ingraph/ingraph-database.conf debian/ingraph/etc/ingraph/ingraph-database.conf.example
	cp debian/tmp/etc/ingraph/ingraph-xmlrpc.conf debian/ingraph/etc/ingraph/ingraph-xmlrpc.conf.example
	#
	## some icinga-web config stuff
	#
	mv debian/icinga-web-ingraph/usr/share/icinga-web/app/modules/inGraph/config/inGraph.xml.in \
	   debian/icinga-web-ingraph/usr/share/icinga-web/app/modules/inGraph/config/inGraph.xml
	mv debian/icinga-web-ingraph/usr/share/icinga-web/app/modules/inGraph/config/module.xml.in \
	   debian/icinga-web-ingraph/usr/share/icinga-web/app/modules/inGraph/config/module.xml
	# replace some vars
	sed -i -e s,@XMLRPC_HOST@,localhost, \
	       -e s,@XMLRPC_PORT@,5000, \
	       -e s,@XMLRPC_USER@,ingraph, \
	       -e s,@XMLRPC_PASSWORD@,changeme, \
	       -e s,@NULL_TOLERANCE@,2, \
	       debian/icinga-web-ingraph/usr/share/icinga-web/app/modules/inGraph/config/inGraph.xml
	sed -i -e s,@TEMPLATE_SUFFIX@,, \
	       debian/icinga-web-ingraph/usr/share/icinga-web/app/modules/inGraph/config/module.xml
	# clean libraries which are replaced by a dependency
	rm -r debian/icinga-web-ingraph/usr/share/icinga-web/app/modules/inGraph/lib/php/vendor/
	rm debian/icinga-web-ingraph/usr/share/icinga-web/app/modules/inGraph/lib/js/excanvas/excanvas.js
	rm debian/icinga-web-ingraph/usr/share/icinga-web/app/modules/inGraph/lib/js/jquery/jquery-1.7.1.min.js
	rm debian/icinga-web-ingraph/usr/share/icinga-web/app/modules/inGraph/lib/js/flot/jquery.flot.js
	# clean stuff we don't want in the package
	rm -r debian/icinga-web-ingraph/usr/share/icinga-web/app/modules/inGraph/lib/nodejs/

override_dh_installdocs:
	dh_installdocs
	# clean stuff we don't want in the package
	rm -r debian/ingraph/usr/share/doc/ingraph/contrib/init.d/

# vi: set noexpandtab ts=4 sw=4 :

